<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="panel">
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">OdeToFood</a>
        </div>
        <div class="navbar-right">
            <vc:login-logout></vc:login-logout>
            Test
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <footer>
            @RenderSection("footer", required: false)
        </footer>
    </div>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
</body>
</html>